.message-list-wrapper {
    margin: 0;
    padding: 5px var(--general-padding);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px
}

.single-message-wrapper {
    border: 1px solid rgb(105,105,105);
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--general-smaller-padding);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow)
}


.single-message-wrapper p {
    margin: 10px 0 15px;
    font-size: 18px
}

.message-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px
}

.like-button {
    background-color: #d1d1d1;
    padding: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    animation: pulse-small 2s infinite
}

.like-button:hover {
    background-color: var(--hover-color)
}

.number-likes {
    margin-left: 5px
}

.info-time {
    color: gray
}

footer {
    margin: 0;
    padding: 5px var(--general-padding);
    display: flex;
    flex-direction: column;
    align-items: center
}

footer .emoji {
    font-size: 42px;
    animation: pulse-big 2s infinite;
    margin-bottom: 10px
}

a:hover {
    font-weight: 700
}

.liked {
    background-color: #ee8bb4
}