.thought-feed-container {
  margin: 0 auto;
  padding: 5px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 520px;
  justify-content: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.thought-card {
  width: 100%;
  max-width: 520px;
  background-color: #ffffff;
  border: 1px solid rgb(105, 105, 105);
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
  padding: 20px;
  overflow-wrap: break-word;
  margin-bottom: 20px;
}

.heart-btn {
  padding: 10px;
  border-radius: 60%;
  border: none;
  background-color: #d1d1d1;
  font-size: 20px;
  transition: background-color 0.3s;
}

.heart-btn:hover {
  background-color: #ffb7d2;
  cursor: pointer;
}

.heart-btn.clicked {
  background-color: #ffb7d2; /* Change color when clicked */
}

.post-time {
  float: right;
  margin-right: auto;
  color: #666;
  font-size: 14px;
}

/* Mobile version for iPhone */
@media only screen and (max-width: 768px) {
  .thought-feed-container {
    padding: 5px 20px;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
  }

  .thought-card {
    max-width: 450px;
    margin-bottom: 20px;
  }

  .heart-btn {
    padding: 8px;
    font-size: 16px;
  }

  .post-time {
    font-size: 12px;
  }
}

/* Mobile version */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) {
  .thought-feed-container {
    padding: 5px 10px;
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
  }

  .thought-card {
    max-width: 300px;
    margin-bottom: 5px;
  }

  .heart-btn {
    padding: 8px;
    font-size: 16px;
  }

  .post-time {
    font-size: 12px;
  }
}
