.post-message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid rgb(105, 105, 105);
  padding: var(--general-smaller-padding);
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  width: 300px;
  font-family: "Roboto", sans-serif;
  font-family: "Source Code Pro", monospace;
}

.heart-button {
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: #d1d1d1;
  font-size: 25px;
}

.heart-button:hover {
  background-color: #ffb7d2;
  cursor: pointer;
}

.heart-button:active {
  transform: translate(0px, 5px);
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.likes {
  color: grey;
}

.time-stamp {
  color: grey;
}

@media (min-width: 800px) {
  .post-message {
    width: 500px;
  }
}
