.heart-btn {
    background-color: #d1d1d1;
    padding: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    animation: pulsing-heart 2s infinite;
}

.heart-btn.clicked {
    background-color: #ee8bb4;
}

.heart-btn:hover {
    background-color: #F6C9DB;
}

.heart-emoji {
    font-size: 24px;
}

.likes {
    margin-left: 5px;
}