/* .message-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px
} */

/* .message-container {
    display: flex;
    background-color: beige;
    border: 1px solid;
    padding: 20px
    flex
} */

.message-list-container {
    margin: 0rem 1rem;
    font-size: 40px;
    margin: 0rem 2rem;
    display: block;

}

.message-container {
    border: solid 0.1rem #1f1e1c;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 8px 8px 0px 0px #1f1e1c;


}