@import "../../scss/variables";

.post-section {
  .hearts-count {
    margin-top: 10px;
  }
  .each-post {
    margin-top: 35px;
    padding: 18px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include borderStylePost;

    animation: popIn 0.8s ease-in-out;

    .post-info {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@keyframes popIn {
  0% {
    background-color: $active-btn-color;
    opacity: 0;
  }
  25% {
    transform: translate3d(20px, 0, 0);
  }
  75% {
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    background-color: transparent;
    opacity: 1;
  }
}
