.post-wrapper {
  /* display: block; */
  border: 1px solid;
  background-color: lightgray;
  width: 100%;
  padding: 20px 40px;
}

.post-wrapper form {
  align-items: center;
  /* width: 80%; */
}

.post-wrapper textarea {
  text-align: center;
  width: 100%;
  background-color: white;
  font-size: 16px;
  /* margin: 10px 0 5px; */
}

.post-counter {
  display: flex;
  align-items: flex-end;
}
