.post-thought-wrapper {
    background-color: #ebebeb;
    border: 1px solid rgb(105, 105, 105);
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
    padding: 5px 35px 15px 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 90%;
}

.post-thought-wrapper form {
    width: 100%;
}

form textarea {
    text-align: center;
    font-size: 18px;
    width: 100%;
    /* Makes the text area size adjust accordingly when screen size changes */
}

.validation-section {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
}

.num-of-characters {
    color: grey;
    margin: 0;
}

.validation-msg {
    color: red;
}

@media (min-width: 767px) {
    .post-thought-wrapper {
        width: 70%;
    }
}