button {
    width: 90%;
    background-color: #ffaead;
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-size: 16px;
}

@media (min-width: 600px) {
    button {
        width: 50%;
    }
}