.post-form {
  background-color: rgb(242, 237, 237);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px;
  border: 1px solid black;
  box-shadow: 5px 5px;
  padding: 0px 10px 15px 10px;
}
.post-form p {
  font-weight: 500;
}

.text-area {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  width: 400px;
  height: 50px;
  padding: 5px;
}

.submit-button {
  background-color: rgb(254, 191, 200);
  color: black;
  border-radius: 20px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 210px;
  border: 0;
  font-weight: 550;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 14px;
}

@media (max-width: 668px) {
  .post-form {
    width: 305px;
  }
  .text-area {
    width: 295px;
  }
  .submit-button {
    width: 210px;
  }
}
