.heart-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    color: red;
    animation: pulse 0.6s ease-in-out forwards, scale 0.6s ease-in-out forwards;
    pointer-events: none;
    z-index: 1000;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes scale {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}