form {
  font-size: 15px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f2f0f0;
  border: solid 2px black;
  box-shadow: 5px 6px black; /* add 4px for blur*/
}
textarea {
  font-size: 15px;
  height: 60px;
  width: 100%;
  margin: 20px 0;
}
.submitBtn {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  padding: 10px 15px;
  text-align: center;
  background-color: #ffadad;
  border-radius: 20px;
  border: none;
  width: max-content;
}
.submitBtn:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
.submitBtn:focus {
  color: #ffadad;
  background-color: black;
}
::placeholder {
  font-size: 15px;
  color: #aa9898;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  padding: 5px 5px;
}
textarea:focus {
  background-color: rgba(0, 0, 0, 0.07);
  color: black;
  outline: none;
}
input:focus::placeholder {
  color: black;
}
