.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

h1 {
  background: -webkit-linear-gradient(
    45deg,
    #ff199f,
    #cd8cdd,
    #5be288,
    #bef146,
    #7e6ed8
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
