@import url("https://fonts.googleapis.com/css2?family=Menlo&display=swap");

.thought-container {
  width: 30%;
  margin: 0 auto 30px;
  border: 1.5px solid #000000;
  padding: 5px 15px;
  box-shadow: 5px 5px 0 0 #000;
}

.thought-message {
  font-family: "Menlo", monospace;
  font-size: 15px;
}

/* Back-to-top arrow button styling */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e7e7e7;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.scroll-to-top svg {
  width: 25px;
  height: 25px;
  transition: fill 0.3s ease;
  padding-top: 12px;
}

.scroll-to-top:hover {
  background-color: #000000;
}

.scroll-to-top:hover svg {
  fill: #ffffff;
}

@media screen and (max-width: 768px) {
  .thought-container {
    width: 60%;
  }

  .thought-message {
    font-size: 12px;
  }

  .scroll-to-top {
    bottom: 6px;
    right: 6px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .thought-container {
    width: 40%;
  }

  .thought-message {
    font-size: 12px;
  }
}
