/*just to separate posts for now*/
.posts {
    border: 1px solid #333;
    padding: 10px;
    margin: 25px auto;
    overflow-wrap: break-word;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
    flex-direction: column;
    width: 85%;
}

.bottomLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

p {
    font-size: 15px;
}

@media (min-width: 675px) {
    .posts {
        width: 45%;
    }

    p {
        font-size: 18px;
    }
}