/*just to separate posts for now*/
.posts {
    border: 1px solid #333;
    padding: 10px;
    margin: 25px auto;
    overflow-wrap: break-word;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
    flex-direction: column;
    width: 85%;
}

.bottomLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

p {
    font-size: 15px;
}

.likedCount {
    background: -webkit-linear-gradient(45deg, #ff199fbd, #cd8cddbf, #5be288d0, #bef146ca, #7e6ed8);
    font-size: 13px;
    border-radius: 50%;
    padding: 3px;
    width: 25px;
    height: 25px;
    min-width: 70px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    left: 83%;
    transform: translate(-30%, -70%);
}

@media (min-width: 376px) and (max-width: 674px) {
    .likedCount {
        position: absolute;
        font-size: 13px;
        padding: 3px;
        left: 77%;
        transform: translate(-0%, -70%);
    }
}



@media (min-width: 675px) {
    .posts {
        width: 45%;
    }

    p {
        font-size: 18px;
    }

    .likedCount {
        font-size: 18px;
        padding: 15px 20px;
        left: 73%;
        transform: translate(-50%, -20%);
    }
}