.post-message-container {
    border: 1px solid black;
    box-shadow: 5px 5px 0 0 black;
    background-color: #ebebeb;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    width: auto;
    margin-left: 24%;
    margin-right: 24%
}