.post-message-container {
  background-color: #ebebeb;
  border: 1px solid rgb(105, 105, 105);
  margin: 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  width: var(--main-width-mobile);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.post-message-container textarea {
  font-size: 18px;
  width: 100%;
  margin: 10px 0 2px;
  background: white;
  text-align: center;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.post-msg-length {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
  padding: 0;
  gap: 25px;
}

.post-message-container button {
  background-color: #ffb7d2;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 0 0 5px;
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
