.post-message-container {
    border: solid 0.1rem #1f1e1c;
    margin: 1rem;
    padding: 1.2rem;
    box-shadow: 8px 8px 0px 0px #1f1e1c;
    background-color: #fbf4f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .post-container {} */

/* .post-wrapper {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
} */

/* form {
    display: flex;
    flex-direction: column;
} */

span {
    padding: 1rem 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 20;
    overflow-wrap: break-word;
}

button {
    border: none;
    border-radius: 20px;
    margin-bottom: 2rem;
    width: max-content;
    padding: 5px 8px;
}

/* textarea {
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 20px;
    height: 60px;
    width: auto;
} */

/* input {
    font-family: 'Courier New', Courier, monospace
} */