/* .post-container {
    width: auto;
    border: 1px solid black;
    box-shadow: 5px 5px 0 0 black;
    box-sizing: border-box;
    padding: 20px;
    margin: 15px 0;
    margin-left: 25%;
    margin-right: 25%;

} */

/* 
.post-info {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
} */

/* .heart {
    display: flex;
    justify-content: center;
/* } */

/* /* .like-button {
    width: 40px;
    height: 40px;
    border: none;
} */