.thought-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    padding: 0;
}

.thought-display {
    width: 500px;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    overflow-x: hidden;
    box-shadow: 7px 7px;
    position: relative;

}

.info-like-container {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 225px;
    position: absolute;
    bottom: 10px;
    flex-wrap: wrap;
}

.like-container {
    display: flex;
    gap: 5px;
}

.like-container button {
    width: 55px;
    padding: 15px;
    border: none;
    border-radius: 100%;
    font-size: 17px;
    background-color: #ededed;
    ;
}

.like-container p {
    opacity: 0.4;
}

.info-like-container button:hover {
    transition: 0.3s;
    background-color: #ff9696;

}

.info-container {
    opacity: 0.4;
}

@media (min-width:436px) and (max-width:550px) {

    .thought-display {
        margin: 0 auto;
        width: 400px;
        height: 150px;
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .info-like-container {
        margin-top: 10px;
        display: flex;
        gap: 175px;
    }

    .like-container button {
        width: 45px;
        height: 45px;
        padding: 10px;
        font-size: 13px;
    }

    .like-container p {
        margin-top: 17px;
        font-size: 13px;
    }

    .info-container {
        font-size: 13px;
    }
}

@media (max-width:435px) {
    .thought-display {
        margin: 0 auto;
        width: 320px;
        height: 120px;
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .thought-display p {
        margin-top: 14px;
        font-size: 12px;
    }

    .info-like-container {
        margin-top: 10px;
        display: flex;
        gap: 120px;
    }

    .like-container button {
        margin-top: 5px;
        width: 36px;
        height: 36px;
        padding: 9px;
        font-size: 13px;
    }

    .like-container p {
        margin-top: 17px;
        font-size: 12px;
    }

    .info-container {
        font-size: 11px;
    }
}

@media (min-width:300px) and (max-width:345px) {
    .thought-display {
        width: 300px;
        height: 110px;
    }

    .thought-display p {
        margin-top: 14px;
        font-size: 12px;
    }

    .info-like-container {
        gap: 100px;
    }

    .like-container button {
        width: 36px;
        height: 34px;
        font-size: 13px;
    }

    .like-container p {
        margin-top: 17px;
        font-size: 13px;
    }

    .info-container {
        margin-top: 10px;
    }
}