.post-container {
    background: #ededed;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 7px 7px;
    margin-top: 30px;
}

.question-container {
    width: 100%;
    padding: 5px;
}

.question-container h1 {
    margin-left: 20px;
    font-size: 17px;
}

.input-container {
    text-align: center;

}

.input-container input {
    width: 90%;
    height: 60px;
    font-size: 16px;
    font-family: "Inconsolata", monospace;
    font-weight: 600;
}

input::placeholder {
    font-size: 16px;
    font-family: "Inconsolata", monospace;
    font-weight: 500;
}

.button-error-container {
    display: flex;
    flex: row;
    justify-content: space-between;
}

.button-error-container p {
    margin-right: 30px;
    color: red;
}

.post-container button {
    width: 220px;
    padding: 12px;
    margin: 10px;
    margin-left: 20px;
    border: none;
    border-radius: 20px;
    background-color: #ff9696;
    color: black;
    font-size: 15px;
}

.post-container button:hover {
    box-shadow: 0 0 13px rgba(33, 33, 33, .2);
    transition: 0.3s;
}

@media (min-width:434px) and (max-width:550px) {
    .post-container {
        width: 400px;
        height: 200px;
        margin-top: 30px;
    }

    .button-error-container p {
        margin-right: 20px;
        font-size: 13px;
    }

    .post-container button {
        width: 185px;
        height: 45px;
        padding: 10px;
        margin: 10px;
        margin-left: 20px;
        font-size: 13px;
    }

}

@media (min-width:346px) and (max-width:435px) {
    .post-container {
        width: 320px;
        height: 170px;
        margin-top: 30px;
    }

    .question-container h1 {
        margin-left: 10px;
        font-size: 15px;
    }

    .input-container input {
        width: 90%;
        height: 50px;
        font-size: 12px;
    }

    input::placeholder {
        font-size: 12px;
    }

    .button-error-container p {
        margin-right: 15px;
        font-size: 11px;
    }

    .post-container button {
        width: 173px;
        height: 35px;
        padding: 5px;
        margin: 10px;
        margin-left: 15px;
        font-size: 12px;
    }
}

@media (min-width:315px) and (max-width:345px) {
    .post-container {
        margin: 0 auto;
        width: 300px;
        height: 160px;
        margin-top: 30px;
    }

    .question-container h1 {
        margin-left: 10px;
        font-size: 15px;
    }

    .input-container input {
        width: 90%;
        height: 50px;
        font-size: 13px;
    }

    input::placeholder {
        font-size: 13px;
    }

    .button-error-container p {
        margin-right: 15px;
        font-size: 12px;
    }

    .post-container button {
        width: 170px;
        height: 33px;
        padding: 5px;
        margin: 10px;
        margin-left: 12px;
        font-size: 11px;
    }
}