.post-wrapper {
  background-color: #ebebeb;
  border: 1px solid rgb(105, 105, 105);
  margin: 0;
  padding: 5px var(--general-padding) 15px var(--general-padding);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  width: var(--main-width-mobile);

  @media (min-width: 675px) {
    width: var(--main-width-desktop);
  }
  h2 {
    font-size: 26px;
    margin: 5px 0 0;
  }

  form {
    width: 100%;

    textarea {
      font-size: 18px;
      width: 100%;
      margin: 10px 0 2px;
      background: white;
      text-align: center;
    }
    .post-length {
      display: flex;
      justify-content: space-between;
      margin: 0 0 20px;
      padding: 0;
      gap: 25px;

      .error {
        font-size: 16px;
        color: gray;
        margin: 0;
      }

      .length {
        color: gray;
        margin: 0;
        min-width: 60px;
      }

      .tooLong {
        color: red;
        margin: 0;
        min-width: 60px;
      }
    }
  }

  button {
    background-color: #ffb7d2;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 0 0 5px;
    border: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--hover-color);
    }
  }
}
