* {
  font-family: "Inconsolata";
  box-sizing: border-box;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
  .thought-list {
    max-width: 90%;
    /* Use a smaller max-width on mobile */
  }

  .thought-form {
    max-width: 90%;
    /* Use a smaller max-width on mobile */
    padding: 10px;
  }

  .time-ago {
    font-size: 10px;
    /* Smaller font size for the timestamp */
  }

  h1 {
    font-size: 1em;
  }

  h2 {
    font-size: 0.9em;
    margin: 0;
    /* Remove default margin to prevent overflow */
    padding: 10px 0px;
    text-align: center;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.1;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    /* Allow scrolling if content overflows */
  }
}

/* Additional styling for the textarea to prevent overflow */
textarea {
  display: block;
  /* Ensure it behaves as a block element */
  margin: 0 auto;
}