.heart-container {
  display: flex;
  align-items: center;
}

.heart-count {
  margin-left: 5px;
}

span {
  background-color: #EAEAEA;
  border-radius: 50%;
  padding: 10px;
  margin-right: 5px;
}

span.liked {
  background-color: #FFADAD;
  border-radius: 50%;
  padding: 10px;
  margin-right: 5px;
}