.single-thought {
	padding: 2rem;
	border: 1px solid black;
	box-shadow: 10px 10px 0px 0px black;
	margin: 10px;
}

.like-time-container {
	display: flex;
	justify-content: space-between;
}

.btn-count-container {
	display: flex;
	gap: 10px;
}

.heart-btn {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	border: none;
}

.heart-btn:hover {
	cursor: pointer;
}

/* Need to check how to change that*/
.heart-btn::after {
	color: var(--pink);
	transition: 2s;
}
