/* Mobile styles (for screens up to 768px wide) */
.post-message-container {
    width: 100%;
    border: 1px solid black;
    box-shadow: 5px 5px 0 0 black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px auto;
    /* Center the container by setting margin-left and margin-right to 'auto' */
}

.form-content {
    width: 100%;


}



/* Media query for larger screens (e.g., screens wider than 768px) */
@media (min-width: 769px) {
    .post-message-container {
        display: flex;
        justify-content: center;
        max-width: 600px;
    }


}