.hero {
    border: 3px solid hotpink;
    background-color: hotpink;
    margin: 10px auto;
    overflow-wrap: break-word;
    max-width: 700px;
    text-align: center;
}

.h1 {
    font-size: 50px;
}

.h2 {
    font-size: 30px;
}