.header-style{
  width: 100%;
  margin-bottom: 20px;
  
  background-image: url("/happy2.jpeg");
  overflow-x: hidden; /* Hide horizontal overflow */  
  background-size: cover;

}


h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 20px 20px;
  padding: 0;
  
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 20px;
  padding: 0;
  
}

@media (max-width: 768px) {
  .header-style {
    width: 100%;
    margin-bottom: 20px;
    background-image: url("./src/assets/happy2.jpeg");
    overflow-x: hidden; /* Hide horizontal overflow */  
    background-size: cover;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px;
    padding: 0;
  }
}


@media (max-width: 500px) {
  .header-style {
    width: 100%;
    margin-bottom: 20px;
    background-image: url("./src/assets/happy2.jpeg");
    overflow-x: hidden; /* Hide horizontal overflow */  
    background-size: cover;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px;
    padding: 0;
  }
}

@media (max-width: 400px) {
  .header-style {
    width: 100%;
    margin-bottom: 20px;
    background-image: url("./src/assets/happy2.jpeg");
    overflow-x: hidden; /* Hide horizontal overflow */  
    background-size: cover;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px;
    padding: 0;
  }
}