@import"https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;800&display=swap";
@import"https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap";

.hero {
    margin: 10px auto;
    overflow-wrap: break-word;
    max-width: 700px;
    text-align: center;
}

.h1 {
    font-family: Abril Fatface;
    font-size: 1.5em;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #ff199f, #cd8cdd, #5be288, #bef146, #7e6ed8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 35px 0;
}

.h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

@media (min-width: 675px) {
    .h1 {
        font-size: 40px;
    }

    .h2 {
        font-size: 28px;
    }
}