/* Counter.module.css */

.interaction {
  display: flex;
  /* grid-template-columns: 100px 100px; */
  /* grid-template-columns: repeat(3, minmax(80px, 1fr));
  grid-template-rows: 100px;
  gap: 20px; */
  justify-content: space-evenly;
  margin: 50px 20px 0 10px;
  /* max-width: 718px; */
}

.item {
  width: 80px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 10px 10px;
  justify-content: space-between;
  margin: 0 10px;
}

.counter {
  font-size: 28px;
}

.description {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.allThoughts {
  width: 20px;
  height: 20px;
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .interaction {
    margin: 60px auto 0 auto;
    max-width: 719px;
  }
  .counter {
    font-size: 52px;
  }
  .item {
    width: 150px;
    height: 150px;
  }
  .allThoughts {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
  }

  .description {
    font-size: 35px;
  }
}
