.create-thought__container {
  display: flex;
  flex-flow: row wrap;

  border: 2px solid var(--black);
  box-shadow: -0.5rem 0.5rem 0 0 var(--black);
  background-color: var(--gray-200);

  padding: 1.25rem;
}

.create-thought__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
}

.create-thought__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  label,
  output {
    font-size: 0.875rem;
    font-weight: 600;
  }

  label {
    margin-bottom: 1rem;
  }

  textarea {
    font-family: "IBM Plex Mono", "Courier New", "Courier", sans-serif;
    font-size: 1rem;
    padding: 0.875rem;
    resize: none;
    width: 100%;
    border: 1px solid var(--black);
    border-radius: 0;
    transition: box-shadow 0.3s ease-out;

    &:hover {
      box-shadow: -0.25rem 0.25rem 0 0 var(--gray-500);
    }

    &:focus {
      outline: none;
      box-shadow: -0.25rem 0.25rem 0 0 var(--black);
    }
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font-size: 0.8em;
  font-weight: 600;

  transition: all 0.3s ease;

  p {
    margin: 0 0 0.15rem;
  }
}

.info--error {
  background-color: white;
  border: 2px solid var(--red);
  padding: 0.85rem 1rem;
}

.create-thought__character-count {
  display: block;
  width: 100%;
  text-align: right;
}

.create-thought__button {
  width: 100%;
}
