.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.footer-container a {
    display: block-inline;
}

.footer-container img {
    width: 4rem;
    padding: 2px;
}