footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-top: 32px;
    padding-bottom: 8px;
    font-weight: normal;
    color: black;
    font-family: Menlo, Monaco, "Courier New", monospace;
  }