.happy-thought {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid var(--black);
  box-shadow: 0.5rem 0.5rem 0 0 var(--black);
  padding: 0.875rem;
}

.happy-thought__title {
  flex-basis: 100%;
  margin: 0 0 1rem;
  overflow-wrap: anywhere;
}

.happy-thought__footer {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  align-items: flex-end;
  align-self: flex-end;

  font-size: 0.85em;
}

.happy-thought__likes,
.happy-thought__timestamp {
  color: var(--gray-700);
}

.happy-thought__likes {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  span {
    position: relative;
    display: inline-flex;
    gap: 0.25rem;
    top: -0.125rem;

    i {
      font-style: normal;
    }
  }
}

.happy-thought__like-btn {
  display: flex;
  align-items: center;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 2.25rem;
  border: none;

  font-size: 1.25em;
  cursor: pointer;

  background-color: transparent;

  &:hover {
    background-color: var(--gray-200);
  }
}
