.thought-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;
}

.thought-message {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid rgb(105, 105, 105);
  box-shadow: rgb(0, 0, 0) 8px 8px 0px 0px;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}


@media (min-width: 668px) {
  .thought-message {
    width: 40%;
  }
}
