.input-box {
  margin: 20px 0;
  padding: 10px;
  width: 300px;
  background-color: #f2f0f0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid black 1px;
  box-shadow: 10px 10px 2px 3px black;
}

.input-field {
  margin: 10px;
}

.button-input {
  margin: 10px;
  border-radius: 20px;
  background-color: #ffadad;
}
