.input-box {
  margin: 20px 0;
  padding: 20px;
  width: 250px;
  background-color: #f2f0f0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid black 1px;
  box-shadow: 10px 10px 2px 3px black;
}

.input-field {
  margin: 10px 0;
}

.button-input {
  margin: 10px 0;
  border-radius: 20px;
  border: #ffadad;
  background-color: #ffadad;
  padding: 5px 10px;
  cursor: pointer;
}

@media (min-width: 400px) {
  .input-box {
    width: 350px;
  }
}

@media (min-width: 700px) {
  .input-box {
    width: 500px;
  }
}

@media (min-width: 1000px) {
  .input-box {
    width: 800px;
  }
}
