.message-container {
  /* font-family: "Courier New", Courier, monospace; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; Center content vertically */
  /* align-items: center; Center content horizontally */
  /* padding-bottom: 30px; */
  /* max-width: 300px; */
}

.messageForm p {
  /* text-align: center; */
}

.messageForm {
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  width: 240px;
  border: 2px solid black;
  padding: 5px 15px 20px 15px;
  box-shadow: 5px 5px black;
  background-color: #f2f0f0;
  margin: 20px 0 40px 0;
}

.messageForm input {
  font-family: "Courier New", Courier, monospace;
  padding: 10px 10px 30px 10px;
  border: 1px solid #c4c3c3;
}

.messageForm input:focus {
  outline: none;
  border: 1px solid #a0a0a0;
}

button {
  font-family: "Courier New", Courier, monospace;
  background-color: #ffadad;
  width: 90%;
  padding: 15px;
  margin: 18px auto 0px;
  /* margin-top: 12px; */
  border-radius: 30px;
  border: none;
}

button:hover {
  background-color: #fdb9b9;
}

button:active {
  background-color: #ffadad;
}
