.postbox{
  border: 1px red solid;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.boxContainer{
  border: 2px green solid;
  margin-top: 12px;
  padding: 10px 20px;
}

.hearts{
  margin-top: 20px;
}



@media (min-width:667px) and (max-width:1025px) {
 
}

@media (min-width: 1025px) {
  .postbox{
    width: 56%;
  }
  
  .boxContainer{
    margin-top: 20px;
    padding: 10px 50px;
  }

  .hearts{
    margin-top: 30px;
  }
}
