ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.thought {
  margin: 20px 0;
  width: 250px;
  border: 1px black solid;
  margin-bottom: 30px;
  background-color: #f2f0f0;
  padding: 20px;
  box-shadow: 10px 10px 2px 3px black;
  display: flex;
  flex-direction: column;
}

.thought-like {
  font-size: small;
  color: rgb(97, 97, 97);
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 400px) {
  .thought {
    width: 350px;
  }
}

@media (min-width: 700px) {
  .thought {
    width: 500px;
  }
}

@media (min-width: 1000px) {
  .thought {
    width: 800px;
  }
}
