/* Thought.css */
.thought-card {
    width: 100%;
    max-width: 500px;
    height: auto;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 20px;
    box-shadow: 6px 6px 0px black;
  }
  
  .thought-message {
    font-size: 20px;
    font-family: Menlo, Monaco, "Courier New", monospace;
    color: black;
    margin-bottom: 10px;
  }
  
  .thought-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #999;
  }
  
  .heart-section {
    display: flex;
    align-items: center;
  }

  .heart-icon {
    font-size: 16px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer; /* Makes the heart section look clickable */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e0e0; /* Default grey background */
    transition: background-color 0.3s ease; /* Smooth transition for color change */
    color: #ff0000; 
  }

  .heart-icon.liked {
    background-color: #ffa0a0; /* Pink background when liked */
}
  
  .heart-count {
    font-size: 14px;
    margin-left: 10px;
    color: rgb(82, 82, 82);
    font-family: Menlo, Monaco, "Courier New", monospace;
  }

  .thought-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .time-stamp {
    font-size: 14px;
    font-family: Menlo, Monaco, "Courier New", monospace;
    color: rgb(82, 82, 82);
  }
  
    /* Media queries  */
@media (max-width: 768px) {
  .thought-card {
      padding: 15px;
      box-shadow: 4px 4px 0px black;
  }
}

/* smartphone */
@media (max-width: 480px) {
  .thought-card {
      padding: 10px;
      box-shadow: 3px 3px 0px black;
  }
}