body {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.wrapper {
	display: flex;
	padding: 0;
	margin: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px 0;
}

/* buttons */
button {
	background-color: #FFADAD;
	padding: 10px 13px;
	border-radius: 25px;
	margin: 10px 0;
	border: none;
	width: 200px;
	justify-content: flex-end;
}

.liked {
	width: auto;
	margin-right: 10px;
	grid-area: button;
}

.not-liked {
	background-color: #EAEAEA;
	width: auto;
	margin-right: 10px;
	grid-area: button;
}

.thought-footer {
	display: grid;
	grid-template-columns: auto auto auto 1fr;
	grid-template-areas: "button count . timestamp";
}

form {
	display: flex;
	flex-direction: column;
	background-color: #F2F0F0;
	padding: 10px 20px;
	width: 600px;
	color: #000;
	border: 2px solid #000;
}

textarea {
	box-sizing: border-box;
	border: 2px solid #ccc;
	padding: 20px;
	resize: none;
	font-size: 16px;
}

.thought {
	background-color: #FFFFFF;
	padding: 5px 20px;
	width: 600px;
	border: 2px solid #000;
	display: flex;
	flex-direction: column;
	margin-top: 45px;
}

.shadow {
	filter: drop-shadow(12px 12px);
}

.timestamp {
	justify-self: flex-end;
	grid-area: timestamp;
	color: #6f6f6f;
	margin-top: 20px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.count {
	grid-area: count;
	margin-top: 20px;
	color: #6f6f6f;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 20px;
	}

	button {
		padding: 4px 6px;
	}

	form {
		max-width: 250px;
	}

	textarea {
		font-size: 16px;
	}

	.thought {
		max-width: 250px;
	}

	.timestamp {
		font-size: 12px;
	}

	.count {
		font-size: 12px;
	}
}

@media screen and (max-width: 250px) {
	h1 {
		font-size: 16px;
	}

	p {
		font-size: 12px;
	}

	button {
		padding: 4px 6px;
		margin-left: -10px;
	}

	form {
		max-width: 180px;
		padding: 5px 20px;
	}

	textarea {
		font-size: 12px;
	}

	.thought {
		max-width: 180px;
		padding: 5px 20px;
		margin: 15px 0;
	}

	.timestamp {
		font-size: 8px;
	}

	.count {
		font-size: 8px;
	}

	.shadow {
		filter: drop-shadow(6px 6px);
	}
}