.thoughts-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.thought {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  min-height: 70px;
  border: 1px black solid;
  box-shadow: 5px 5px 0 black;
  padding: 17px 15px 15px 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 9pt;
  color: rgb(115, 115, 115);
}

.thought-text {
  overflow-wrap: break-word;
  font-family: Menlo, monospace;
  font-size: 13px;
  margin: 0;
}

.thought-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.time-stamp {
  font-size: 10pt;
}
