/* ThoughtCard.module.css */
.card {
  border: 2px solid black;
  margin: 10px 10px 20px 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 10px 10px;
  height: 100px;
  justify-content: center;
}

.thought {
  font-size: 20px;
  margin-bottom: 10px;
}

.messageinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .hearts {
  display: flex;

} */

.hearts > button {
  border-radius: 50%;
  border: 1px transparent;
  background-color: #eaeaea;
  /* Style for different browers*/
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 0;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    background-color: #ffadad;
    /* transform: scale(1.2); */
  }
  &:active {
    background-color: blue;
    /* transform: scale(0.8); */
  }
}

/*Good to have some animation for press action*/
/* 
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
} */
