.list-wrapper {
    padding: 15px;
    margin: 10px 0;
    background-color: #f4fff4;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}
