
  /* add */
  
  .update-feed-box {
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 5px 5px 0px 0px #000000;
    margin-bottom: 20px;
    border: #000000 solid 1px;
  }
  
  .uf-feed-text {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .update-feed-box textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    overflow: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
.character-count {
    font-size: 12px;
    margin: 0 0 20px 0;
    text-align: end;
}

  .update-feed-box button {
    padding: 10px;
    background-color: #f9aaa9;
    border: none;
    border-radius: 25px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .update-feed-box button:hover {
    background-color: #ff4d4f;
  }

  .update-feed-box button {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
  }