.like-button {
    background-color: lightgray;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.like-button:hover {
    background-color: pink;
}

.like-button.clicked {
    background-color: pink;
}