/* CSS styles for the footer */
.footer {
  background: #fff;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.footer-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  /* Apply a gradient background to the text using webkit-linear-gradient */
  background: -webkit-linear-gradient(
    45deg,
    #ff199f,
    #cd8cdd,
    #5be288,
    #bef146,
    #7e6ed8
  );
  /* Clip the background to the text */
  background-clip: text;
  /* Clip the background to the text (webkit version) */
  -webkit-background-clip: text;
  /* Set the text color to transparent, making it appear as a gradient */
  -webkit-text-fill-color: transparent;
}

.copyright img {
  width: 30px;
  padding-left: 7px;
}

.footer a {
  padding: 5px;
  font-size: 20px;
}
