/* Mobile styles (for screens up to 768px wide) */
.post-container {
    width: 100%;
    border: 1px solid black;
    box-shadow: 5px 5px 0 0 black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px 0;
    margin-left: auto;
    margin-right: auto;
}

.heart-like {
    color: rgb(182, 182, 182);
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.button-and-likes {
    margin: 10px;
}

.number-likes {
    font-size: 14px;
    margin-left: 2px;
    /* Adjust the left margin to your preference */
    white-space: nowrap;
    /* Prevent text from wrapping to the next line */
    overflow: hidden;
    /* Hide any overflowing content */
    text-overflow: ellipsis;
    /* Show ellipsis (...) if text overflows */
}

.time-passed {
    font-size: 14px;
    white-space: nowrap;
    /* Prevent text from wrapping to the next line */
    overflow: hidden;
    /* Hide any overflowing content */
    text-overflow: ellipsis;
    /* Show ellipsis (...) if text overflows */
}

.heart {
    display: flex;
    justify-content: center;
}

.like-button {
    width: 10px;
    height: 10px;
}

/* Media query for larger screens (e.g., screens wider than 768px) */
@media (min-width: 769px) {
    .post-container {
        width: 75vh;
        padding: 20px;
        display: flex;
        justify-content: center;
        max-width: 500px;
    }
}








/* .post-container {
    width: 100%;
    border: 1px solid black;
    box-shadow: 5px 5px 0 0 black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 15px 0;
    margin-left: 25%;
    margin-right: 25%;

}


.post-info {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}

.heart {
    display: flex;
    justify-content: center;
}

.like-button {
    width: 40px;
    height: 40px;
    border: none;
} */