.post_wrapper {
  border: var(--border-main);
  margin-top: 20px;
  padding: var(--general-smaller-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.text {
  width: 100%;
  font-size: 16px;
}
.info_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heart {
  display: inline-block;
  font-size: 20px;
  background-color: var(--btn-gray);
  padding: 8px;
  border-radius: 50%;
  margin-right: 6px;
  transition: background ease 0.2s;
  cursor: pointer;
  border: none;
  animation: move infinite 2s;
}

.heart:hover {
  background-color: var(--hover-color);
}

.num {
  color: gray;
  font-size: 12px;
  padding: 0;
  padding-left: 10px;
}

.num_box:has(.error) {
  text-align: end;
}

.num_box {
  width: 60%;
  text-align: end;
}

.red {
  background-color: #ee8bb4;
}

.error {
  font-size: 10px;
  color: red;
}

@keyframes move {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 550px) {
  .text {
    font-size: 18px;
  }

  .heart {
    margin-right: 14px;
  }

  .heart {
    font-size: 26px;
    padding: 10px;
  }

  .num {
    font-size: 16px;
  }
}
