.form-container,
.card-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-container {
  margin: 50px;
  background: #f2f0f0;
}

.form-container,
.card-container {
  border: 1px solid black;
  box-shadow: 5px 5px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  resize: none;
}

button {
  background: #faaaaa;
  border: none;
  border-radius: 30px;
}

button:hover {
  cursor: pointer;
}

.send-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
  width: 60%;
  height: 50px;
}

.character-count {
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}
