.newPostContainer {
  border: 2px solid black;
  background-color: #f2f0f0;
  height: 200px;
  width: 260px;
  padding: 15px 15px 0 20px;
  box-shadow: 7px 7px rgba(0, 0, 0, 1);
  margin: 30px 0;
}

.newPostForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newPostInput {
  display: block;
  width: 245px;
  height: 60px;
  margin-top: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.newPostButton {
  width: 200px;
  padding: 8px 0;
  border-radius: 20px;
  border: none;
  background-color: #ffadad;
}

.charCount {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  text-align: right;
  padding-right: 15px;
}

.charCount.exceededLimit {
  color: red;
}

@media (min-width: 700px) {
  .newPostContainer {
    width: 460px;
  }

  .newPostInput {
    width: 440px;
    height: 30px;
    padding-bottom: 50px;
  }

  .newPostButton {
    padding: 12px 0;
  }
}
