:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

/* Styling the main text box */
h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 15px;
  font-weight: 700;
}

.main-wrapper {
  margin: 20px auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 25px;
  justify-content: space-between;
}

.post-box {
  background-color: #ebebeb;
  border: 1px solid rgba(105, 105, 105);
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
  width: 500px;
}

.post-box textarea {
  font-size: 15px;
  width: 100%;
  margin: 2px 0;
  border: 1px solid gray;
}

.post-box ::placeholder {
  font-size: medium;
}

.post-box form {
  width: 100%;
}

.post-box button {
  background-color: #ffadad;
  border-radius: 25px;
  padding: 10px 19px;
  margin: 0 0 5px;
  margin-top: 5px;
  border: none;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.post-box button:hover {
  background-color: rgb(222, 153, 178);
}

/* Post messages list */

.message-list {
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

/* single message object */

.message-post {
  background-color: #fff;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
  border: 1px solid rgba(105, 105, 105);
  padding: 15px 6px;
  margin: 20px auto;
  width: 100%;
}

.like-container {
  display: flex;
  align-items: center;
  padding: 5px;
}

.like-container p {
  margin: 0;
  color: gray;
  font-size: medium;
}

/* pulse animation for the like button */

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.like-button {
  background-color: #d1d1d1;
  padding: 10px;
  margin-right: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  animation: pulse 2s infinite;
}

.like-button:hover {
  background-color: rgb(255, 173, 173);
}

.like-button.clicked {
  background-color: rgb(255, 173, 173);
}