:root {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-image: url(./assets/sunshine.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-field {
  background-color: rgba(193, 193, 186, 0.7);
  border: 1px solid rgb(66, 66, 66);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thought-box {
  background-color: lightgray;
  border: 1px 2px 3px 1px;
  border-color: black;
  border-style: double;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.beneath-message {
  display: flex;
  justify-content: space-between;
}

.like-box {
  display: flex;
  align-items: center;
}

.heart {
  height: 30px;
  width: 30px;
  margin: 4px;
}