:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --general-padding: 35px;
  --general-smaller-padding: 20px;
  --general-mini-padding: 5px;
  --box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  --main-width-mobile: 90%;
  --main-width-desktop: 70%;
  --hover-color: rgb(255, 199, 220);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 5px var(--general-padding);
  width: 80%;
  gap: 25px;
}
