.old-thought-container{
    border: 1px solid black;
    background-color: #FFFFFF;
    box-shadow: 0.5rem 0.5rem black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 1rem; 
    margin: 1rem; 
    gap: 30px;
}


.like-btn {
    background-color: #CACACA;
    width: 2rem;
    height:2rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

/* .grey{
    background-color: #CACACA;
}
.pink{
    background-color: #FFADAD;
} */
.like-post-time {
    color: #CACACA;
}

.like-button:hover{
    background-color: #FFADAD;
}

@media screen and (max-width: 500px) {
    .old-thought-container{
        box-shadow: 0.3rem 0.3rem black;
        padding:0.5rem;
        margin: 0.5rem;
    }
} 