.container{
  width: 100%;
  height: 10%;
  background-color: red;
  color: white;
  margin: 0;
  box-sizing: border-box;
}

h1{
  margin: 0;
  padding: 20px;
  width: 100%;
  font-family:"Recursive", sans-serif;
  margin-block-start:0;
  margin-block-end:0;
  text-align: center;
  font-size: 26px;
  box-sizing: border-box;
}

@media (min-width:667px) and (max-width:1025px) {
 
}

@media (min-width: 1025px) {
  h1{
    padding: 30px;
    font-size: 40px;
  }

  
}